body{
    font-family: "Poppins", "sans-sarif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: blanchedalmond;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    color: black;
    background-color: blanchedalmond;
    position: sticky;
    z-index: 10;
    top:0;
}

header > i{
    font-size: 3em;
}

header > nav > div > a{
    padding: 1em;
    text-decoration: none;
    font-size: 1.2em;
}

.first_section{
    height: 55em;
    outline: black 2px;
    background-image: url("images/1.jpg");
    border-bottom: black solid 8px;
    background-size: cover;
    display: flex;
}

.first_section > p{
    height: min-content;
    top: 39rem;
    left: 75vw;
    position: absolute;
    font-size: 5rem;
    font-weight: bold;
}

#sekcija1{
    position: relative;
    margin: 1rem 1rem 1rem 1rem;
}

#sekcija1 div {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    line-height: 140px;
    position: absolute;
}

.red1 {
    top: 0;
    font-family: Calibri;
    font-size: 10px;
}
.red2 {
    top: 150px;
    font-family: Times;
    font-size: 20px;
}
.red3 {
    top: 300px;
    font-family: Courier;
    font-size: 30px;
}
.red4 {
    top: 450px;
    font-family: Arial;
    font-size: 40px;
}
.red5 {
    top: 600px;
    font-family: "Book Antiqua";
    font-size: 50px;
}

.stupac1 {
    left: 0;
	border-radius: 50%;
}
.stupac2 {
    left: 150px;
	border-radius: 35%;
	opacity: 0.9;
}
.stupac3 {
    left: 300px;
    border-radius: 20%;
	opacity: 0.8;
}
.stupac4 {
    left: 450px;
    border-radius: 10%;
	opacity: 0.7;
}
.stupac5 {
    left: 600px;
    border-radius: 10%;
	opacity: 0.6;
}
.stupac6 {
    left: 750px;
    border-radius: 10%;
	opacity: 0.5;
}
.stupac7 {
    left: 900px;
    border-radius: 10%;
	opacity: 0.4;
}
.stupac8 {
    left: 1050px;
    border-radius: 10%;
	opacity: 0.4;
}
.stupac9 {
    left: 1200px;
    border-radius: 10%;
	opacity: 0.4;
}
.stupac10 {
    left: 1350px;
    border-radius: 10%;
	opacity: 0.4;
}
.stupac11 {
    left: 1500px;
    border-radius: 10%;
	opacity: 0.4;
}


.red1.stupac1 {
    background-image: url(./images/download.jpg);
    background-size: cover;
}
.red1.stupac3 {
    background-image: url("./images/download (1).jpg");
    background-size: cover;
}
.red1.stupac5 {
    background-image: url("./images/download (2).jpg");
    background-size: cover;
}
.red1.stupac7 {
    background-image: url("./images/download (3).jpg");
    background-size: cover;
}
.red1.stupac9 {
    background-image: url("./images/download (4).jpg");
    background-size: cover;
}
.red1.stupac11 {
    background-image: url("./images/download (5).jpg");
    background-size: cover;
}

.red2.stupac2 {
    background-image: url("./images/download (6).jpg");
    background-size: cover;
}
.red2.stupac4 {
    background-image: url("./images/download (7).jpg");
    background-size: cover;
}
.red2.stupac6 {
    background-image: url("./images/download (8).jpg");
    background-size: cover;
}
.red2.stupac8 {
    background-image: url("./images/download (9).jpg");
    background-size: cover;
}
.red2.stupac10 {
    background-image: url("./images/download (10).jpg");
    background-size: cover;
}

.red3.stupac1 {
    background-image: url("./images/download (11).jpg");
    background-size: cover;
}
.red3.stupac3 {
    background-image: url("./images/download (5).jpg");
    background-size: cover;
}
.red3.stupac5 {
    background-image: url("./images/download (6).jpg");
    background-size: cover;
}
.red3.stupac7 {
    background-image: url("./images/download (6).jpg");
    background-size: cover;
}
.red3.stupac9 {
    background-image: url("./images/download (6).jpg");
    background-size: cover;
}
.red3.stupac11 {
    background-image: url("./images/download (6).jpg");
    background-size: cover;
}

.red4.stupac2 {
    background-image: url("./images/download (7).jpg");
    background-size: cover;
}
.red4.stupac4 {
    background-image: url("./images/download (8).jpg");
    background-size: cover;
}
.red4.stupac6 {
    background-image: url("./images/download (8).jpg");
    background-size: cover;
}
.red4.stupac8 {
    background-image: url("./images/download (8).jpg");
    background-size: cover;
}
.red4.stupac10 {
    background-image: url("./images/download (8).jpg");
    background-size: cover;
}

.red5.stupac1 {
    background-image: url("./images/download (9).jpg");
    background-size: cover;
}
.red5.stupac3 {
    background-image: url("./images/download (10).jpg");
    background-size: cover;
}
.red5.stupac5 {
    background-image: url("./images/download (11).jpg");
    background-size: cover;
}
.red5.stupac7 {
    background-image: url("./images/download (11).jpg");
    background-size: cover;
}
.red5.stupac9 {
    background-image: url("./images/download (11).jpg");
    background-size: cover;
}
.red5.stupac11 {
    background-image: url("./images/download (11).jpg");
    background-size: cover;
}


.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Section 2 */
iframe{
    width: 100%;
    height: 100%;
}

.second_section{
    display: flex;
    height: 55rem;
}

.second_section > div{
    flex: 1 1 50%;
    color: black;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.s2_div1{
    background-color: red;
}

.gallery{
    background-color: orange;
    display: grid;
    height: 100%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__img_1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__img:hover{
    transition: 1s ease-in-out all;
    transform: rotateZ(360deg);
}


.subdiv{
    width: 30rem;
    display: flex;
    flex-direction: column;
}

hr{
    border: 2px solid cyan;
    border-radius: 2px;
    width: 20%;
}

.myButton2 {
	background-color:#44c767;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    /* margin: 30px auto 50px auto; */
}

/* Third Section */
.third_section{
    display: flex;
    height: 40em;
    min-height: 100%;
    max-height: 100%;
}

.s3_div1{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;

    background-color: turquoise;
    flex: 0 1 35%;
    max-width: 35%;
    padding-bottom: 15%;
}

.s3_div1:hover{
    animation: slide 1s ease-in-out alternate;
}

.s3_div1 > .subdiv2:hover{
    transition: 2s ease-in-out;
    font-size: .3rem;
}

.s3_img{
    object-fit: cover;
    flex: 1 1 70%;
}

@media only screen and (max-width:1080px) {
    .s3_div1{
        flex: 1 1 50%;
        max-width: 35%;
    }

    .s3_img{
        flex: 1 1 50%;
        max-width: 35%;
    }
}

@keyframes slide{
    0%{
        flex: 1 1 35%;
        max-width: 50%;
    }

    100%{
        flex: 1 1 50%;
        max-width: 50%;
    }
}



.subdiv2{
    width: 30rem;
    display: flex;
    flex-direction: column;
}

.section3_bigtext{
    font-size: 3em;
    margin: 0;
    padding:0.5em 0 0 0;
    text-align: left;
}

.section3_smalltext{
    font-size: 1.6em;
    margin: 0;
    padding-bottom: 1em;
    text-align: left;
}

.hr1{
    border: 2px solid cyan;
    border-radius: 2px;
    width: 20%;
    margin-left: 0.1%;
}

.myButton3 {
	background-color:lightgray;
	border:1px solid lightgray;
	display:inline-block;
	cursor:pointer;
	color:gray;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
/* 	text-shadow:0px 1px 0px #2f6627;
 */    margin-right: 55%;
    /* margin: 30px auto 50px auto; */
}

.fourth_section{
    display: flex;
    height: 40em;
    min-height: 100%;
    max-height: 100%;
}

.s4_div1{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;

    background-color: orange;
    flex: 0 1 35%;
    min-width: 35%;
    max-width: 35%;

    padding-bottom: 15%;
}

.kockakojasekrece{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: animacija 5s linear 2s infinite forwards;
    border: 2px solid;
    border-radius: 10px;
}

@keyframes animacija {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

.hr2{
    border: 2px solid cyan;
    border-radius: 2px;
    width: 20%;
    margin-left: 0.1%;
}

.myButton4 {
	background-color:lightgray;
	border:1px solid lightgray;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
/* 	text-shadow:0px 1px 0px #2f6627;
 */    margin-right: 51%;
    /* margin: 30px auto 50px auto; */
}

footer{
    height: 17em;
    background-color: dimgray;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer > h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 5em;
    width: 5em;
    line-height: 5rem;
    margin: 0rem -14rem 0rem 0rem;
  }
  
  
  /* Style the rainbow text element. */
  .rainbow-text {
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(
      #CA4246 16.666%, 
      #E16541 16.666%, 
      #E16541 33.333%, 
      #F18F43 33.333%, 
      #F18F43 50%, 
      #8B9862 50%, 
      #8B9862 66.666%, 
      #476098 66.666%, 
      #476098 83.333%, 
      #A7489B 83.333%);
    
    /* Set thee background size and repeat properties. */
    background-size: 57%;
    background-repeat: repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-animation-rev 0.5s ease forwards;
  
    cursor: pointer;
  }
  
  /* Add animation on hover. */
  .rainbow-text:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }
